
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #E9E9E9;
	color: #404d5b;
	font-weight: 500;
	font-size: 1.05em;
	font-family: 'Raleway', Arial, sans-serif;
}

@media (min-width: 1920px) and (max-width: 2000px) {
  input.panda {
    display: inline-block;
    height: 70px;
  }
}
@media (min-width: 1440px) and (max-width: 1919px){
	/*use :default style */
}
@media (min-width: 1280px) and (max-width: 1439px){
 .right.circlepanda_wrapper {
    width: 45%;
    height: 100%;
    float: right;
  }
  form.circlepanda_form {
    width: 55%;
    height: 100%;
    background-color: transparent;
    float: left;
  }
}
@media (min-width: 980px) and (max-width: 1279px) {
 .right.circlepanda_wrapper {
    width: 40%;
    height: 100%;
    float: right;
  }
  form.circlepanda_form {
    width: 60%;
    height: 100%;
    background-color: transparent;
    float: left;
  }
}
@media (min-width: 800px) and (max-width: 979px){
 .right.circlepanda_wrapper {
    width: 40%;
    height: 100%;
    float: right;
  }
  form.circlepanda_form {
    width: 60%;
    height: 100%;
    background-color: transparent;
    float: left;
  }
  .pad-top {
    display: inline-block;
    margin: 100px 0 0 0;
    height: 220px;
  }
  h1{
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 799px){
  .right.circlepanda_wrapper {
    width: 40%;
    height: 100%;
    float: right;
  }
  form.circlepanda_form {
    width: 60%;
    height: 100%;
    background-color: transparent;
    float: left;
  }

  .pad-top {
    display: inline-block;
    margin: 100px 0 0 0;
    height: 220px;
  }
  h1{
    font-size: 16px;
  }
}
@media (min-width: 360px) and (max-width: 767px){
  .right.circlepanda_wrapper{
    display: none;
  }
  form.circlepanda_form {
    width: 100%;
    height: 100%;
    background-color: transparent;
    float: left;
  }
  h1{
    font-size: 14px;
  }
}
@media (min-width: 320px) and (max-width: 359px){
  .right.circlepanda_wrapper{
    display: none;
  }
  form.circlepanda_form {
    width: 100%;
    height: 100%;
    background-color: transparent;
    float: left;
  }
  h1{
    font-size: 14px;
  }
}
