@media only screen and (max-width : 540px)
{
    .chat-sidebar
    {
        display: none !important;
    }

    .chat-popup
    {
        display: none !important;
    }
}

body
{
    background-color: #e9eaed;
}

.linker {
  display: block;
  cursor: pointer;
}

.chat-icon {
  display: block;
  height: 45px;
  width: 45px;
  margin: 10px 5px;
  border-radius: 50%;
}

.chat-sidebar
{
    width: 200px;
    position: fixed;
    height: 100%;
    right: 0px;
    top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(29, 49, 91, .3);
}

.sidebar-name
{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 4px;
    font-size: 12px;
}

.sidebar-name span
{
    padding-left: 5px;
}

.sidebar-name a
{
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.sidebar-name:hover
{
    background-color:#e1e2e5;
}

.sidebar-name img
{
    width: 32px;
    height: 32px;
    vertical-align:middle;
}

.popup-box
{
    display: none;
    position: fixed;
    bottom: 0px;
    right: 220px;
    height: 350px;
    background-color: rgb(237, 239, 244);
    width: 250px;
    border: 1px solid rgba(29, 49, 91, .3);
    padding: 0 0 30px 0;
}

.popup-box .popup-head
{
    background-color: #00CC99;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    clear: both;
}

.popup-head{
    box-shadow: 0 2px 4px #CCC;
}

.popup-box .popup-head .popup-head-left
{
    float: left;
}

.popup-box .popup-head .popup-head-right
{
    float: right;
    opacity: 0.5;
}

.popup-box .popup-head .popup-head-right a
{
    text-decoration: none;
    color: inherit;
}

.popup-box .popup-messages
{
    overflow-y: scroll;
    height: 83%;
}

.popup-messages{
  background-color: #FFFFFF;
}


.popup-footer{
    display: inline-table;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    border-top: 1px solid;
    border-color: #E9E9E9;
}

.popup-text{
    display: inline-block;
    border: hidden;
    width: 100%;
    height: 30px;
    font-size: 12px;
    background-color: #FFFFFF;
    color: #444;
}

.ico-icon{
    display: inline-block;
    font-size: 14px;
    color: #CCC;
    margin: 2px 5px 2px 5px;
}
