*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }
body {
	background: #E9E9E9;
	color: #404d5b;
	font-weight: 500;
	font-size: 1.05em;
	font-family: 'Raleway', Arial, sans-serif;
}

a, h1, h2, h3, h4, h5, h6, p, div, section, span, table, input, button {
  font-family: 'Raleway', Arial, sans-serif;
}

nav.menu a {
	color: #444
}

.v_all, .v_all:hover{
  display: block;
  margin: 0 10px 10px 0;
  float: right;
  color: #4C9ED9;
  height: auto;
  width: auto;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  transition: .5s ease-in-out;
}

.v_all:hover{
  background-color: #F9F9F9;
}

.home {
	color: #069;
	background-color: #E5E5E5;
}

.fadein-status-wrap{
	display: none;
}

/*--- Welcome feel ---*/
/*-- Intro Space --*/
.intro-container {
	position: fixed;
	top: 180px;
	left: 0;
	height: auto;
	min-height: 320px;
	width: 40%;
	margin: 0 30%;
	background-image: url('../../images/stock/circlepanda-banner.jpg');
	background-size: cover;
	padding: 30px 10px;
	color: #FFF;
	border-radius: 4px;
	box-shadow: 0 1px 3px #444;
	z-index: 30;
	transition: .5s ease-in-out;
}

.btn-accept, .btn-accept:hover{
	display: inline-block;
	height: auto;
	width: auto;
	bottom: 20px;
	margin: 10px 0;
	font-size: 14px;
	border: 1px solid #FFF;
	border-radius: 2px;
	padding: 10px 25px;
	transition: .5s ease-in-out;
}

.btn-accept{
	color: #FFF;
}
.btn-accept:hover{
	color: #444;
	background-color: #FFF;
}

/*--- Tint Background ---*/
.tour-tlayer, .tour-blayer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.tour-tlayer{
	background-color: transparent;
	z-index: 12;
}

.tour-blayer{
	background-color: #000;
	opacity: 0.4;
	z-index: 11;
}

.bigger-dp{
	height: 110px;
	width: 110px;
}

/*__ Introduction __*/
.whatnew_intro, .message_intro, .notif_intro, .upload_intro, .menu_intro, .search_intro, .handy_intro{
	position: absolute;
	height: auto;
	max-width: 18%;
	padding: 5px 10px 5px 10px;
	background-color: #FF8600;
	color: #FFF;
	font-size: 16px;
	z-index: 100;
	border-radius: 2px;
	box-shadow: 0 1px 2px #CCC;
}

.whatnew_intro{
	top: 70px;
	right: 55px;
}
.message_intro{
	top: 70px;
	right: 50px;
}
.notif_intro{
	top: 70px;
	right: 45px;
}
.upload_intro{
	bottom: 120px;
	right: 100px;
}
.menu_intro{
	top: 70px;
	left: 10px;
}
.search_intro{
	top: 70px;
	left: 550px;
}
.handy_intro{
	top: 70px;
	right: 40px;
}

.intro-btn{
	display: inline-table;
	height: auto;
	width: auto;
	padding: 4px 10px 4px 10px;
	background-color: #4C9ED9;
	color: #FFF;
	border-radius: 2px;
}

/* Hastag */
.tag-filter {
	display: block;
	height: auto;
	min-height: 40px;
	width: 100%;
	border-radius: 2px solid;
}

.tag-block,.tag-block.active, .tag-block:hover {
	display: inline-table;
	height: auto;
	width: auto;
	padding: 9px 25px;
	border-radius: 4px;
	transition: .5s ease-in-out;
	cursor: pointer;
}
.tag-block {
	background-color: #e5e5e5;
}
.tag-block.active, .tag-block:hover {
	background-color: #006699;
	color: #fff;
}
